body {
    background-color: rgb(149, 189, 241);
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.bg-darker {
    background-color: rgb(122, 171, 236);
}

.bg-silver {
    background-color: silver;
}

.pwd-gen {
    padding: 20px;
    user-select: none;
    height: 50px;
    width: 450px;
    border-radius: 15px;
   
    border: 2px solid silver;
    outline: none;
    font-size: 22px;
}

.input::placeholder {
    font-size: 20px;
}

.border-silver {
    border: 1px solid silver;
}